/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  =======================================
  Grid
  =======================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  =======================================
  Custom Styles
  =======================================
*/

.blue-container {
  background: linear-gradient(180deg, #004E92 0%, #000428 100%);
  min-height: 100vh;
}

body {
  font-family: 'Montserrat';
}

.weather-app {
  align-items: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  font: 1.3em/1.3em 'Montserrat', sans-serif;
  min-height: 100vh;
  justify-content: space-around;
  letter-spacing: .05em;
}

/*
  =======================================
  Location
  =======================================
*/

#location {
  line-height: 1em;
  padding-top: .66em;
  text-transform: uppercase;
}

/*
  =======================================
  Current Weather
  =======================================
*/

.current-weather {
  text-align: center;
}

#current-weather-icon {
    height: auto;
    width: 4.5em;
}

.current-weather p {
  font-size: 3em;
  padding: .25em 0;
}

.temp {
  display: flex;
}

#farenheit, #celsius {
  display: none;
  font-size: 1em;
  height: 100%;
  margin: .1em .25em;
  padding: 0;
}

.toggable {
  cursor: pointer;
  opacity: .5;
}

/*
  =======================================
  Current Weather Details
  =======================================
*/

.current-weather-details {
  font-size: .8em;
  justify-content: space-between;
  margin-top: .75em;
  width: 90%;
}

.current-weather-details, .current-weather-details div {
  display: flex;
  align-items: center;
}

.current-weather-details p {
  display: inline-block;
  margin-left: .5em;
}

/*
  =======================================
  Weekly Forecast
  =======================================
*/

.weekly-forecast {
  font-size: .8em;
  width: 90%;
}

.weekday-forecast {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  padding: .33em 0;
  width: 100%;
}

.weekday-forecast:last-child {
  border-bottom: none;
}

.weekday-forecast div {
  display: flex;
}

.weekday-forecast div p {
  margin-left: .5em;
}

.attribution {
  color: #FFF;
  font-size: .6em;
  text-decoration: none;
}

/*
  =======================================
  Media Queries
  =======================================
*/

@media screen and (min-width: 420px) {
  body {
    align-items: center;
    background: #616161;
    display: flex;
    height: 100vh;
    justify-content: center;
  }
  
  .blue-container {
    box-shadow: .5em .5em .5em rgba(0, 0, 0, 0.25);
    min-height: 35.7rem;
    width: 20.8rem;
  }
  
  .weather-app {
    font: 1.3em/1.3em "Montserrat", sans-serif;
    min-height: 35.7rem;
    width: 20.8rem;
  }
  
  .location input, .location button {
    height: 1.75em;
  }

  .location button {
    width: 1.75em;
  }
}
